extends ../layout.pug

block content
	a(href='/usuarios') Volver

	br
	br

	h1 Nuevo Usuario

	
	br
	br

	form(action='/usuarios/create' method='post')
		.form-group
			label(for='nombre') Nombre:
			input#nombre.form-control(type='text' name='nombre' value= usuario.nombre  class=errors.nombre ? 'is-invalid' : '')
			if errors.nombre
				small#emailHelp.text-danger
					= errors.nombre.message

		.form-group
			label(for='email') email:
			input#email.form-control(type='text' name='email' value= usuario.email  class=errors.email ? 'is-invalid' : '')
			if errors.email  
				small#emailHelp.text-danger
					= errors.email.message

		.form-group
			label(for='pwd') Password:
			input#pwd.form-control(type='password' name='pwd' value= usuario.pwd  class=errors.pwd ? 'is-invalid' : '')
			if errors.pwd
				small#emailHelp.text-danger
					= errors.pwd.message

		.form-group
			label(for='confirm_pwd') confirm_pwd:
			input#confirm_pwd.form-control(type='text' name='confirm_pwd' value= usuario.confirm_pwd  class=errors.confirm_pwd ? 'is-invalid' : '')
			if errors.confirm_pwd
				small#emailHelp.text-danger
					= errors.confirm_pwd.message

	br
	br

	input.btn.btn-primary(type='submit' value'OK')
				
