extends  ../layout

block content
    div.main

        h1 Nueva Bici
        form(action='/bicicletas/create', method= 'post')
            label(for='id') #
            input#id(type='text' name='id')
            br
            label(for='color') Color
            input#color(type='text' name='color')
            br
            label(for='modelo') Modelo
            input#modelo(type='text' name='modelo')
            br
            label(for='lat') Ubicación lat
            input#lat(type='text' name='lat')
            br
            label(for='lng') Ubicación lng
            input#lng(type='text' name='lng')
            br
            br
            input.btn.btn--success(type='submit', value='Guardar')
            a.btn.btn--cancel(href='/bicicletas') Volver


    style(type='text/css').
        .main {
            width: 90%;
            margin: auto;
        }

        label {
            width: 100%
        }

        .btn {
            color: white;
            border-radius: 10px;
        }

        .btn--cancel{
            background-color: dimgray;
        }

        .btn--success{
            background-color: blue;
            margin-right: 10px;
        }

