extends  ../layout

block content
    div.main

        h1 Editar Bici
        form(action=`/bicicletas/${bici.id}`, method= 'post')
            label(for='id') #
            input#id(type='text' name='id' value=bici.id)
            br
            label(for='color') Color
            input#color(type='text' name='color' value=bici.color)
            br
            label(for='modelo') Modelo
            input#modelo(type='text' name='modelo' value=bici.modelo)
            br
            label(for='lat') Ubicación lat
            input#lat(type='text' name='lat' value=bici.ubicacion[0])
            br
            label(for='lng') Ubicación lng
            input#lng(type='text' name='lng' value=bici.ubicacion[1])
            br
            br
            input.btn.btn--success(type='submit', value='Guardar')
            a.btn.btn--cancel(href='/bicicletas') Volver


    style(type='text/css').
        .main {
            width: 90%;
            margin: auto;
        }

        label {
            width: 100%
        }

        .btn {
            color: white;
            border-radius: 10px;
        }

        .btn--cancel{
            background-color: dimgray;
        }

        .btn--success{
            background-color: blue;
            margin-right: 10px;
        }

