extends ../layout
block content
    .main
        h1 Bicicletas!
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Modelo
                    th(scope='col') Ubicación
                    th(scope='col')
                    th(scope='col')
                    th(scope='col')

            tbody
                each bici in bicis
                    tr
                        th(scope='row')
                            = bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
                        td
                            a(href=`bicicletas/${bici.id}`) Ver
                        td
                            a(href=`bicicletas/${bici.id}/edit`) Editar
                        td
                            form.inline(method='post' action=`bicicletas/${bici.id}/destroy`)
                                input(type='hidden' name='id', value=bici.id)
                                input(type='submit', value='Eliminar')
        a.btn.btn--success(href='/bicicletas/create') Nueva Bici

