extends  ../layout
block content
    div.main
        h1 Bicicleta
            =bici.id
        p= `id: ${bici.id}`
        p= `color: ${bici.color}`
        p= `modelo: ${bici.modelo}`
        p= `ubicacion: ${bici.ubicacion}`

        form.inline(method='post' action=`/bicicletas/${bici.id}/destroy`)
            a(href=`/bicicletas/${bici.id}/edit` style='margin-right: 10px') Editar
            input(type='hidden' name='id', value=bici.id)
            input(type='submit', value='Eliminar')
        a.btn.btn--cancel(href='/bicicletas' style='margin-top: 10px') Volver
